@import 'node_modules/react-image-gallery/styles/scss/image-gallery';

body {
  background-color: $black;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
}

.app {
  color: $white;
}

.image-gallery-slide img {
  height: 500px;
  width: auto;
}

.image-gallery-slide {
  background-color: $black;
}
